<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.talentica.bleswitch"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_LE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>

    <uses-permission-sdk-23 android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".base.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".scanning.Scanning"
            android:label="@string/tag_fragment_search"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity android:name=".feasibility.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <service
            android:name=".scanning.service.BackgroundDeviceScanService"
            android:enabled="true"
            android:exported="false">
        </service>

        <activity android:name=".listing.Device">
        </activity>
        <activity android:name=".functionality.ColorLed">
        </activity>
    </application>

</manifest>